html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
}

.fullNav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.containerNav {
    width: 1216px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.containerLogo {
    width: 148px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerMenu {
    width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 82px;
}

.containerBotoes {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    display: inline;
    padding-left: 20px;
}

ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.BtnEntrar {
    width: 83px;
    height: 44px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.BtnCadastrar {
    width: 112px;
    height: 44px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: var(--main-color);
    border: 1px solid color var(--main-color);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 18px;
}

.containerFullHero {
    width: 100%;
    height: 407px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerHero {
    width: 1216px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

.containerHero span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
}

.containerHero h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: var(--title-color);
}

.containerHero p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.containerFull {
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.container {
    width: 1216px;
    height: 192px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px;
}

.container .campo {
    width: 280px;
    height: 192px;
    padding: 0 15px;
}

.container h1 {
    width: 280px;
    height: 72px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--main-color);
    margin: 0;
}

.container span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
}

.container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.containerFullBannerVagas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 0 20px 0;
}

.containerBannerVagas {
    width: 1216px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.image {
    width: 1216px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.containerBannerVagas span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--main-color);
    background-color: #F9F4F4;
    padding: 12px 24px;
    border-radius: 25px;
}

.containerBannerVagas h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--title-color);
}

.containerBannerVagas p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color)
}

.containerFullVagas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secaoVagas {
    width: 1216px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tituloSecao {
    width: 768px;
    height: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--title-color);
    text-align: start;
    margin: 50px 0 20px;
}

.vaga {
    width: 768px;
    height: 136px;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 12px 0;
    padding: 24px;
}

.titulo-vaga {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
    display: inline-block;
    margin: 0 0 24px 0;
}

.informacoes span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.containerFullDepoimentos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 96px 0 20px 0;
}

.containerDepoimentos {
    width: 1216px;
    height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.containerDepoimentos span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--title-color);
    margin-top: 16px;
}

.containerDepoimentos h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--title-color);
}

.containerDepoimentos p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--text-color);
}