html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
}

.container {
    width: 1216px;
    height: auto;
    padding: 0 32px;
    display: inline-block;
    margin-bottom: 80px;
}

.container.full {
    width: 100%;
    height: auto;
}

.navegation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.containerLogo {
    justify-content: flex-start;
    align-items: center;
}

.containerMenu {
    justify-content: flex-start;
    align-items: center;
    padding-left: 82px;
}

.containerBotoes {
    justify-content: flex-end;
    align-items: center;
}

ul li {
    display: inline;
    padding-left: 20px;
}

ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.btnEntrar {
    width: 83px;
    height: 44px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.btnCadastrar {
    width: 112px;
    height: 44px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background-color: var(--main-color);
    border: 1px solid color var(--main-color);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 18px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}

.hero span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
}

.hero h1 {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: var(--title-color);
}

.hero p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color);
}

.vantagens {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px;
}

.vantagens .campo {
    width: 280px;
    height: 192px;
    padding: 0 15px;
}

.vantagens h1 {
    width: 280px;
    height: 72px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--main-color);
    margin: 0;
}

.vantagens span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
}

.vantagens p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 32px;
}

.banner span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--main-color);
    background-color: #F9F4F4;
    padding: 12px 24px;
    border-radius: 25px;
}

.banner h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--title-color);
}

.banner p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color)
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.vagas .tituloSecao {
    width: 768px;
    height: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--title-color);
    text-align: start;
    margin: 50px 0 20px;
}

.vagas .vaga {
    width: 768px;
    height: 136px;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 12px 0;
    padding: 24px;
}

.vagas .vaga .tituloVaga {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--title-color);
    display: inline-block;
    margin: 0 0 24px 0;
}

.vagas .vaga .informacoes span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.depoimentos {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.depoimentos span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
    margin-top: 16px;
}

.depoimentos h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--title-color);
}

.depoimentos p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--text-color);
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;
    padding: 50px;
}

.rodape h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: var(--title-color);
}

.rodape p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
}

.rodape span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
}

.email {
    height: 50px;
    margin-bottom: 50px;
}

.campoEmail {
    width: 360px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding-left: 16px;
}

.email button {
    width: 116px;
    height: 48px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-left: 16px;
}