html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
}

:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

.fullNav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: #6b5050; */
}

.containerNav {
    width: 1240px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    /* background-color: rgb(224, 236, 236);  */
}

.containerLogo {
    width: 148px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerMenu {
    width: 650px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 82px;
}

.containerBotoes {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    display: inline;
    padding-left: 20px;
}

ul li a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.BtnEntrar {
    width: 83px;
    height: 44px;
    background-color: transparent;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.BtnCadastrar {
    width: 112px;
    height: 44px;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: var(--main-color);
    border: 1px solid color var(--main-color);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 18px;
}

.containerFullHero {
    width: 100%;
    height: 407px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.containerHero {
    width: 1240px;
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

.containerHero span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
}

.containerHero h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #101828;
}

.containerHero p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.containerFull {
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.container {
    width: 1240px;
    height: 192px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 32px;
}

.container .campo {
    width: 280px;
    height: 192px;
    padding: 0 15px;
}

.container h1 {
    width: 280px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--main-color);
    margin: 0;
}

.container span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
}

.container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

.containerFullVagas {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 96px 0;
    /* background-color: #000000; */
}

.containerVagas {
    width: 1216px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(43, 152, 152); */
}

.image {
    width: 1216px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.containerVagas span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--main-color);
    background-color: #F9F4F4;
    padding: 12px 24px;
    border-radius: 25px;
}

.containerVagas h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
}

.containerVagas p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--text-color)
}